APP_ENV=dev
DB_PATH=./data/app.db
LOG_PATH=./data/app.log
WHISPER_MODEL_SIZE=small
WHISPER_DEVICE=cpu
WHISPER_COMPUTE_TYPE=int8
OLLAMA_URL=http://127.0.0.1:11434
OLLAMA_MODEL=gemma3:4b
BROWSER_CHANNEL=msedge
HELPDESK_URL=https://helpdesk.brgm.fr/IsilogWebSystem/Pages/HelpDesk/HELP005.aspx?Type=PROPERTY&Action=C&IwsId=1
TIMEOUT_SECONDS=45
DEBUG=false
MITEL_RECORDINGS_DIR=C:/Users/hotline6/AppData/Roaming/Mitel/MitelDialer
LIVE_RECORDINGS_DIR=./data/live_recordings
LIVE_SAMPLE_RATE=16000
LIVE_CHANNELS=1
